# Виртуальные окружения
venv/
.venv/
env/

# Компилированные файлы Python
*.pyc
__pycache__/

# Файлы IDE
.idea/
.vscode/

# Файлы секретов и конфигураций
.env
.env.*

# Файлы журнала
*.log

# Файлы данных
*.db
*.sqlite3

# Создаваемые в процессе работы файлы
*.egg-info/
dist/
build/